* {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 2em;
    background: #de9000;
    padding: 1em 1em;
}

.lay-out {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

nav { 
    background: #f7a100;
    width: 13.5em;
    height: 40em;
}

a {
    text-decoration: none;
    line-height: 1.5em;
    color: black;
    
}

ul {
    display: flex;
    flex-direction: column;
    padding: 1em 1em;
}

main {
    background-color: #f8c463;
    width: 100%;
    padding: 2em;
}
