* {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
}

:root {
    --primarycolor: #F7A100;
    --secondarycolor: white;
    --text-color: #333333;
    --side-pages-color: #dcdcdc;
    --header-color: #c3c3c3 ;
    --small-text: 16px;
    --larg-text: 32px;
    --medium-text: 24px;
    --fontpre-small-text: 16px,
}

 /* Positie, afmetingen en kleur van de header*/

header {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 2em;
    background: var(--header-color);
    padding: 1em 1em;
}

body {
    font-family: 'proxima nova';
    color: var(--text-color);
    background-color: var(--secondarycolor);
}

@font-face {
    font-family: "Proxima Nova A Semibold";
    src: url("https://db.onlinewebfonts.com/t/264e2ce2df4ac93e29576716c566f827.woff2") format("woff2");
}

/* Zorgt ervoor dat de navigatiebalk naar beneden loopt*/

.lay-out {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

/* positie en kleur van de nevigatie aan de linkerkant*/

nav { 
    background:var(--side-pages-color);
    width: 13.5em;
}

/* Styling en positie van de links in de navigatiebalk*/ 

a {
    text-decoration: none;
    line-height: 1.5em;
    color: var(--text-color);
    font-size: var(--small-text);
}

ul {
    display: flex;
    flex-direction: column;
    padding: 1em 1em;
}

/* zorgt voor de grootte en kleur van de main */

main {
    background-color: var(--secondarycolor);
    width: 100%;
    padding: 30px;
}

pre {
    background-color: var(--secondarycolor);
    width: 50em;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: var(--fontpre-small-text);
    line-height: 1.4;
    overflow-x: auto;
}

/* Past de font-size van h1 aan */

h1 {
    font-size: var(--larg-text);
}

/* Past de font-size van h2 aan */

h2, h3 {
    font-size: var(--medium-text);
}

/* Past de font-size van p aan */

p {
    font-size: var(--small-text);
}

div.scroll-container {
    background-color: var(--secondarycolor);
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
  }
  
  div.scroll-container img {
    padding: 10px;
    margin: 40px;
  }

img, h1, h2, h3, p {
    margin: 10px;
}

