* {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff;
    font-family:"Proxima Nova", sans-serif;
    margin: 0;
}

@font-face {
    font-family: "Proxima Nova", sans-serif;
    src: url(../assets/AnyConv.com__ProximaNova-Regular_2607783814[2260].woff) format('woff'); 
}

@font-face {
    font-family: "Proxima Nova", sans-serif;
    src: url(../assets/AnyConv.com__ProximaNova-Bold_1760577842[2252].woff) format("woff");
    font-weight: 700;
}

@font-face {
    font-family: "Proxima Nova";
    src: url(../assets/AnyConv.com__ProximaNova-Medium_2770618388[2258].woff2);
    font-weight: 400;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 2em;
    background: #006199;
    padding: 1em 1em;
}

.lay-out {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

nav { 
    background: #60C5F8;
    width: 13.5em;
}

a {
    text-decoration: none;
    line-height: 1.5em;
    color: black;  
}

ul {
    display: flex;
    flex-direction: column;
    padding: 1em 1em;
}

main {
    background-color: #ffffff;
    width: 100%;
}

main h1 {
    margin: 1em 2em 1em 1em;
}

main h2 {
    margin: 1em;
    font-size: 1.2em;
    font-weight: 100;
}

p {
    margin: 1em;
    font-size: 1em;
}
.heart, .account-human , .filled-heart {
    color:#F7A100
    ;
    height: 2em;
    margin: auto 5px;
    margin-left: 2em;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 2em;
}

.theme-toggle, .theme-toggle-contrast {
    color: #F7A100
    ;
    height: 2em;
    margin: auto 5px;
    margin-left: 2em;
    background: none;
    border: none;
    cursor: pointer;
}

.colour-modes {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    padding: 1em 1em 0 1em;
    gap: 1em;
}

.search-button {
    margin-left: 2em;
    background: #F7A100
    ;
    border: none;
    box-shadow: none;
    color: #ffffff;
    cursor: pointer;
    height: 3em;
    width: 5em;
}

form button {
    background: none;
    border-radius: 50%;
    border: none;
    aspect-ratio: 1 / 1;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    padding:0.1em;
    transition: all 0.2s ease;
}

form button:active {
    transform: scale(0.96);
}

.account-human {
    margin-left: 2em;
}

.add-user {
    color: #F7A100
    ;
    height: 2em;
    margin: 2em;
    background: none;
    border: solid 0.2em #F7A100
    ;
    border-radius: 50%;
    aspect-ratio: 1/1;
    cursor: pointer;
}

.popup {
    margin-left: 2em;
    background: #F7A100
    ;
    border: none;
    box-shadow: none;
    color: #ffffff;
    cursor: pointer;
    height: 3em;
    width: 10em;
}

.close-button {
    background-color: transparent;
    border: 0em;
    color: #333333;
    font-size: 2em;
    transition: all 0.2 ease-in;
    cursor: pointer;
    margin: 2em;
}

.close-button:hover {
    background-color: transparent;
    color:#F7A100;
} 

.place-comment {
    background: none;
    border: none;
    margin: 2em;
}

