* {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
}

:root {
    --primarycolor: #F7A100;
    --secondarycolor: white;
    --text-color: #333333;
    --font-size-p: 16px;
    --font-size-h: 32px;
    --side-bar-color: #dcdcdc;
    --header-color: #c3c3c3 ;
}    

body {
    font-family: 'proxima nova';
    color: var(--text-color);
    background-color: var(--secondarycolor);
}

.logo {
    width: 120px;
}

.logo-voorbeeld {
    width: 500px;
    object-fit: contain;
}

h2 {
    padding-bottom: 10px;
    font-weight: bold;
}

h1 , h2, h3 {
    padding-left: 10px;
    padding-top: 10px;
}


p {
    padding-left: 10px;
    padding-top: 10px;
    font-size: var(--font-size-p);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 2em;
    background: var(--header-color);
    padding: 1em 1em;
}

.lay-out {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

nav { 
    background: var(--side-bar-color);
    width: 13.5em;
}

a {
    text-decoration: none;
    line-height: 1.5em;
    color: var(--text-color);
}

ul {
    display: flex;
    flex-direction: column;
    padding: 1em 1em;
}

main {
    background-color: var(--secondarycolor);
    width: 100%;
}

