* {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
}

:root {
    --primarycolor: #F7A100;
    --secondarycolor: white;
    --text-color: #333333;
    --font-size-p: 16px;
    --font-size-h: 32px;
    --side-pages-color: #dcdcdc;
    --header-color: #c3c3c3;
}   

body {
    font-family: 'Proxima Nova';
    color: var(--text-color) ;
}

@font-face {
    font-family: "Proxima Nova A Semibold";
    src: url("https://db.onlinewebfonts.com/t/264e2ce2df4ac93e29576716c566f827.woff2") format("woff2");
}

h1,h2,h3,p,ol {
    padding-left: 10px;
    padding-top: 10px;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 2em;
    background: var(--header-color);
    padding: 1em 1em;
    font-size: var(--fontH1);
}

.lay-out {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

nav { 
    background:var(--side-pages-color);
    width: 13.5em;
}

a {
    text-decoration: none;
    line-height: 1.5em;
    color: var(--text-color);
    
}

ul {
    display: flex;
    flex-direction: column;
    padding: 1em 1em;
}

main {
    background-color: var(--secondarycolor);
    width: 100%;
}
